<!-- About Us page: Displays simple static page to describe the people behind the site with pictures -->

<div class="span1"></div>
<div class="span10" style="border: 1px solid gray; border-radius: 5px; padding-top: 40px; padding-left: 70px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);">
<div class="container">
	<div class="content">
		<h1>About Us</h1>
		<div class="row" style="padding-top: 40px;">
			<div class="span3">
			<img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/540066_10151079724278303_664139114_n.jpg" alt="Ray" height="200" style="max-width: 240px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);"/>
			</div>
			<div class="span6">
				<h4>Ray Kim</h4>
				<p style="font-size: 130%; line-height: 170%;">Born 1994, Ray is a current freshman at Harvard College studying Computer Science. He enjoys playing the piano, composing, sleeping, volunteer tutoring through Breakthrough Cambridge, and helping Bowen finish his math homework in a timely fashion. He is from Plainview, New York.</p>
			</div>
		</div>
		<div class="row" style="padding:10px;">
			<div class="span6">
				<h4>Bowen "Arrow" Lu</h4>
				<p style="font-size: 130%; line-height: 170%;">Born in eastern China, Arrow is a current freshman at Harvard State studying Computer Science. He enjoys coming up with startup ideas, studying Chinese, running, singing in the Harvard Glee Club, and eating Hillel food. He dislikes it when Ray does not help him with math homework. He is from Holmdel, New Jersey.</p>
			</div>
			<div class="span3">
				<img src="https://sphotos-b.xx.fbcdn.net/hphotos-prn1/32070_1400734901735_1129617_n.jpg" alt="Bowen" height="200" style="max-width: 240px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);" />
			</div>
		</div>
	</div>
	<div class="row" style="padding-left: 40px;"><p>&copy; RayBlu 2012. Made with <strong>Bootstrap</strong>.</p></div>
</div>
</div>