<!-- Learn More page: Displays simple static page on how to use the site -->

<div class="span1"></div>
<div class="span10" style="border: 1px solid gray; border-radius: 5px; padding-top: 20px; padding-left: 50px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);">
	<div class="container">
		<h1 style="padding-left: 20px;">Prepster: A student's best friend. <img src="http://animalbirthcontrolofsouthjersey.com/yahoo_site_admin/assets/images/littleDogsRock.348183031_std.jpg" alt="Puppy" style="width: 10%;"</h1>
	</div>
	<div class="span9" style="padding-top: 80px;">
			<p style="text-indent: 50px; font-size: 120%;">Prepster is a website for users to find and share reviews on both online and in-person college preparatory services. On our website, users can read and write reviews about a particular college preparatory service.  For example, a junior in high school may post a review about an SAT math tutor he or she had through The Princeton Review discussing how the young age of the tutor helped the student relate to them more. Parents can also benefit from the site by reading previous reviews on certain college preparatory services and get a better sense of which service would be best for their child. We emphasize accessibility and simplicity so that users can easily share their experiences. </p>
			<p style="text-indent: 50px; font-size: 120%; padding-bottom: 70px;">Writing a new review is easy enough. From the homepage, users can either click “Write a Review” at the navigation bar at the top or click on the “Write a Review” button under the heading “Write Reviews.” From there they are redirected to a page with three form fields: Name, Title, and Content. Simply type in your name, the title of your review, and a description of your experiences. Then, click “Create Post” to add your review to the reviews listing. To view your review, click on the “Read Reviews” link on the navigation bar. Here, users can view an individual review via the “Show” button, edit their review via the “Edit” button, or delete their review via the “Delete” button. </p>
			<div class="row" style="padding-left: 30px;"><p>&copy; RayBlu 2012. Made with <strong>Bootstrap</strong>.</p></div>
	</div>

</div>
